doctype html
html
    head
        title= title
        link(href="/style.css" rel="stylesheet" type="text/css")
    body(class = "main")
        h2(align='center') Main page

        div(class='log_reg')
            a(href = "login" ) Login
            p
            a(href='register') Sign up
            p
            a(href='profile') Profile
        div(class="main_img")
            img(src=avatar alt="Something wrong")

include footer.pug