doctype html
html
    head
        title(Profile)
        link(href="/style.css" rel="stylesheet" type="text/css")
    body
        h2(align="center") Profile
            p Your profile #{username}
            p You are admin? #{admin}


include footer.pug